$light-color: white;
$red-color: #f9004d;
$dark-color: #fcfc;

// global
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 90vh;
    background-image: url(images/pic1.jpg);
    background-position: center;
    background-size: cover;

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 45px;
        padding-left: 8%;
        padding-right: 8%;
    }
    .logo{
        color: $light-color;
        font-size: 35px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    
    nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 25px;
    
        a{
            color: white;
            text-decoration: none;
            font-weight: bold;
            text-transform: capitalize;
        }
        
        a:hover{
            color: $red-color;
            transition: .4s;
        }
        
    }
    
    a{
        text-decoration: none;
    }
    .btn{
        background-color: $red-color;
        color: $light-color;
        border: 2px solid transparent;
        border-radius: 30px;
        font-weight: bold;
        padding: 10px 25px;
        transition: .4s;
    }
    
    .btn:hover{
        transform: scale(1.2);
    }
}
span{
    color: $red-color;
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);

    h1{
        color: $light-color;
        margin: 20px 0px 20px;
        font-size: 75px;
    }
    h3{
        color: $light-color;
        font-size: 25px;
        margin-bottom: 50px;
    }
    h4{
        color: $dark-color;
        letter-spacing: 2px;
        font-size: 20px;
    }
    .newsletter form{
        max-width: 100%;
        position: relative;

        input:first-child{
            display: inline-block;
            width: 100%;
            padding: 14px 130px 14px 15px;
            border: 1px solid #f9004d ;
            outline: none;
            border-radius: 30px;
        }
         input:last-child{
            position: absolute;
            display: inline-block;
            outline: none;
            border: none;
            padding: 10px 30px;
            border-radius: 30px;
            background-color: #f9004d;
            box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
            top: 6px;
            right: 6px;
        }
    }
     
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;

    img{
        height: auto;
        width: 430px;
    }
    
    .main{
        width: 1130px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .about-text{
            width: 550px;

            h2{
                color: #fff;
                font-size: 75px;
                text-transform: capitalize;
                margin-bottom: 20px;
            }
            h5{
                color: #fff;
                letter-spacing: 2px;
                font-size: 22px;
                margin-bottom: 25px;
                text-transform: capitalize;
            }
            p{
                color: #fcfc;
                letter-spacing: 1px;
                line-height: 28px;
                font-size: 18px;
                margin-bottom: 45px;
            }
            button{
                background-color: #f9004d;
                color: white;
                text-decoration: none;
                border: 2px solid transparent;
                font-weight: bold;
                padding: 13px 30px;
                border-radius: 30px;
                transition: .4s;
            }
            button:hover{
                background-color: transparent;
                border: 2px solid #f9004d;
                cursor: pointer;
            }
        }
    }
    
    
}

.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;

    .title h2{
        color: #fff;
        font-size: 75px;
        margin: 30px auto;
        text-align: center;
    }
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;

        .card{
            height: 365px;
            width: 335px;
            padding: 20px 35px;
            background: #363333;
            border-radius: 30px;
            margin: 15px;
            position: relative;
            overflow: hidden;
            text-align: center;

            i{
                font-size: 50px;
                display: block;
                text-align: center;
                margin: 25px 0px;
                color: #f9004d;
            }
            h5{
                color: white;
                font-size: 23px;
                margin-bottom: 15px;
            }
            .pra p{
                color: #fcfc;
                font-size: 16px;
                line-height: 27px;
                margin-bottom: 25px;
            }
            .button{
                background-color: #f9004d;
                color: white;
                text-decoration: none;
                border: 2px solid transparent;
                font-weight: bold;
                padding: 9px 22px;
                border-radius: 30px;
                transition: .4s;
            }
            .button:hover{
                background-color: transparent;
                border: 2px solid #f9004d;
                cursor: pointer;
            }
        }
        
    }
    
}
.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    p{
        color: white;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .button-two{
        background-color: #f9004d;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 13px 30px;
        border-radius: 30px;
        transition: .4s;
    }
    .button-two:hover{
        background-color: transparent;
        border: 2px solid #f9004d;
        cursor: pointer;
    }
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p:nth-child(1){
        font-size: 30px;
        color: white;
        margin-bottom: 20px;
        font-weight: bold;
    }
    p:nth-child(2){
        color: white;
        font-size: 17px;
        width: 500px;
        text-align: center;
        line-height: 26px;
    }
    .social{
        display: flex;
    }
    .social a{
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f9004d;
        border-radius: 50%;
        margin: 22px 10px;
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
    a:hover{
        transform: scale(1.3);
        transition: .3s;
    }
    .end{
        position: absolute;
        color: #fff;
        bottom: 35px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 1046px){
    .about{
        .main{
           
            .about-text{
                margin-left: 20px;
                text-align: center;
            }
        }  
    }  
}
@media only screen and (max-width: 970px){
    .hero{
        height: 100vh;
        nav{
            padding-top: 5px;
            padding-left: 8%;
            padding-right: 8%;
            .logo{
                font-size: 20px;
                margin-left: 2px;
            }
        }

    }
    .content{
        top: 60%;
        left: 10%;

        h1{
            color: #000;
            font-size: 60px;
            margin-bottom: 5px;
            margin-top: 8px;
        }
        h3{
            color: #000;
            font-size: 25px;
            margin-bottom: 30px;
        }
        h4{
            color: $light-color;
            margin-bottom: 0px;
            letter-spacing: 2px;
            font-size: 20px;
        }
    }
    .about{
        padding: 40px 0px;
        img{
            height: 0px;
            width: 100px;
            margin-left: 40%;
            margin-top: 0px;
            visibility: hidden;
        }
        .main{
            display: block;
            text-align: center;
            .about-text{
                margin-left: 60px;
                h2{
                    margin-left: 90px;
                }
                h5{
                    margin-left: 90px;
                }
                p{
                margin-left: 90px;
                margin-right: 0px;
                }
                button{
                    margin-left: 100px;
                }
            }
        }
    }
    .service{
        i{
            font-size: 6px;
        }
    }       
}
@media only screen and (max-width: 838px){
    .service{
        padding: 40px 0px;
        .title h2{
            font-size: 60px;
        }
        .box{
            flex-direction: column;
            .card{
                width: 400px;
                i{
                    font-size: 40px;
                }
            }
        }
    }
}
@media only screen and (max-width: 700px){
    .hero{
        height: 90vh;
        nav{
            padding-top: 3px;
            padding-left: 2%;
            padding-right: 2%;
       
            .logo{
                font-size: 10px;
                margin-left: 2px;
            } 
        }
        
       
    }
    .content{
        top: 55%;
        left: 10%;

        h1{
            color: #000;
            font-size: 50px;
            margin-bottom: 3px;
            margin-top: 3px;
        }
        h3{
            color: #000;
            font-size: 20px;
            margin-bottom: 30px;
        }
        h4{
            color: $light-color;
            margin-bottom: 0px;
            letter-spacing: 2px;
            font-size: 17px;
        }
        
        
    }
    .about{
        padding: 40px 0px;
        img{
            height: 0px;
            width: 100px;
            margin-left: 40%;
            margin-top: 0px;
            visibility: hidden;
        }
        .main{
            display: block;
            text-align: center;
            .about-text{
                width: 350px;
                h2{
                    font-size: 60px;
                    margin-left: 30px;
                }
                h5{
                    font-size: 20px;
                    margin-left: 30px;
                }
                p{
                margin-left: 40px;
                margin-right: 0px;
                }
                button{
                    margin-left: 50px;
                }
            }
        }
    }
    .service{
        padding: 40px 0px;
        .title h2{
            font-size: 60px;
        }
        .box{
            flex-direction: column;
            .card{
                width: 400px;
                i{
                    font-size: 40px;
                }
            }
        }
    }
}
@media only screen and (max-width: 500px){
    .hero{
        height: 60vh;

        nav{
            padding-top: 20px;
            padding-left: 8%;
            padding-right: 8%;

            .logo{
                font-size: 15px;
                margin-left: 2px;
            }
            ul li{
                
                padding: 3px 5px;
            }
            .btn{
                font-size: 15px;
                border-radius: 20px;
                padding: 5px 20px;
                transition: .4s;
            }
        }
        
    }
    
    .content{
        top: 35%;
        left: 18%;

        h1{
            color: $light-color;
            margin: 10px 0px 10px;
            font-size: 40px;
        }
        h3{
            color: #000;
            font-size: 25px;
            margin-bottom: 50px;
        }
        h4{
            color: $light-color;
            letter-spacing: 2px;
            font-size: 20px;
        }
        .newsletter form {
            input:first-child{
                width: 100%;
                padding: 10px 60px 8px 5px;
            }
            input:last-child{
                top: 40px;
                right: 60px;
                font-weight: bold;
                background-color: #f9004d;
                color: white;
                text-decoration: none;
                border: 2px solid transparent;
                font-weight: bold;
                padding: 13px 30px;
                border-radius: 30px;
                transition: .4s;
                
            }
        }
    
    }
    .about{
        padding: 40px 0px;
        img{
            height: 0px;
            width: 100px;
            margin-left: 40%;
            margin-top: 0px;
            visibility: hidden;
        }
        .main{
            display: block;
            text-align: center;

            .about-text{
                width: 350px;
                align-items: center;
                margin-left: 0px;
                
                h2{
                    font-size: 65px;
                    margin-left: 20px;
                }
                p{
                font-size: 17px;
                margin-left: 20px;
                margin-right: 0px;
                }
            }
        }
    }
    .service{
        padding: 40px 0px;
        .title h2{
            font-size: 60px;
        }
        .box{
            flex-direction: column;
            .card{
                width: 355px;
                i{
                    font-size: 40px;
                }
            }
        }
    }
    .contact-me{
        height: 250px;
        p{
            font-size: 20px;
        }
    }
    footer{
        height: 300px;
        p:nth-child(1){
            font-size: 20px;
        }
        p:nth-child(2){
            width: 300px;
            margin-bottom: 10px;
        }
    }
}
